body {
    background-color: rgb(255, 255, 0);
    z-index: -2;
    margin: 0;
}

.black-background {
    background-color: black;
}

.game {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("game images/battleground.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: contain;
    border: none; 
    margin: 0;
}



.tower {
    width: 20vw;
    position: absolute;
    bottom: 0; /* Position it at the bottom */
    left: 0;
    z-index: 1;
    height: 50vh; /* Fixed height of 50% of the viewport height */
    background-image: url("game\ images/castle.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: contain;
    margin-bottom: 200px;
}




.hide {
    opacity: 0;
    display: none;
    transition: 0.3s ease-in-out;
}

.heading-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-image img {
    border: 5px solid black;
    width: 350px;
    height: 200px;
    border-radius: 15%;
}

.buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-top: 50px;
}

.buttons button {
    background-color: yellow;
    border: 3px solid black;
    border-radius: 15%;
    margin: 5px 0; /* Add margin for spacing between buttons */
    padding: 30px;
    font-size: 15px;
    font-weight: bold;
    width: 175px;
}

.buttons button:hover {
    transition: 0.3s ease-in-out;
    background-color: black;
    border: 4px solid yellow;
    color: yellow;
    border-radius: 17px;
    width: 200px;
}

/* ORCS */

.orc-path canvas {
    background-color: red;
    width: 68vw;
    height: 30vh;
    z-index: 1;
    margin-left: 30vw;
    margin-top: 35vh;
    opacity: 50%;
}