body {
    background-color: rgb(255, 255, 0);
}

.heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.heading h1 {
    font-size: 50px;
}

.heading h2 {
    font-size: 30px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This is optional to vertically center the button too */
}

.middle button {
    text-align: center;
    padding: 40px;
    color: black;
    background-color: aqua;
    border-radius: 15%;
}

.middle button:hover {
    padding: 45px;
    background-color: aquamarine;
    border-radius: 18%;
    border: none;
}
